# Preseeding only locale sets language, country and locale.
d-i debian-installer/locale string en_US

# Keyboard selection.
d-i console-setup/ask_detect boolean false
d-i keyboard-configuration/xkb-keymap select gb

choose-mirror-bin mirror/http/proxy string

# Clock and time zone setup
d-i clock-setup/utc boolean true
d-i time/zone string GMT

# Avoid that last message about the install being complete.
d-i finish-install/reboot_in_progress note

# This is fairly safe to set, it makes grub install automatically to the MBR
# if no other operating system is detected on the machine.
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true

# Mirror settings
# If you select ftp, the mirror/country string does not need to be set.
d-i mirror/country string manual
d-i mirror/http/directory string /ubuntu/
d-i mirror/http/hostname string archive.ubuntu.com
d-i mirror/http/proxy string

# Partitioning
d-i partman-auto/disk string /dev/sda
d-i partman-auto-lvm/guided_size string max
d-i partman-auto/choose_recipe select atomic
d-i partman-auto/method string lvm
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-lvm/device_remove_lvm boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman/confirm_write_new_label boolean true

# Account setup
d-i passwd/root-password-crypted password $1$JlSBrxl.$ksXaF7TIE.70iV12//V4R0
d-i passwd/user-fullname string linux_user
d-i passwd/user-uid string 1000
d-i passwd/user-password-crypted password $1$JlSBrxl.$ksXaF7TIE.70iV12//V4R0
d-i passwd/username string linux_user
d-i passwd/user-default-groups linux_user sudo
d-i preseed/late_command string \
    echo 'linux_user ALL=(ALL) NOPASSWD: ALL' > /target/etc/sudoers.d/linux_user ; \
    in-target chmod 440 /etc/sudoers.d/linux_user ;

# The installer will warn about weak passwords. If you are sure you know
# what you're doing and want to override it, uncomment this.
d-i user-setup/allow-password-weak boolean true
d-i user-setup/encrypt-home boolean false

# Package selection
tasksel tasksel/first standard
d-i pkgsel/include string open-vm-tools openssh-server perl
d-i pkgsel/install-language-support boolean false

# disable automatic package updates
d-i pkgsel/update-policy select none
d-i pkgsel/upgrade select full-upgrade